body{
font-family:Arial;
background:#141414;
color:white;
}

.container{
width:300px;
margin:auto;
margin-top:100px;
text-align:center;
}

input{
display:block;
width:100%;
margin:10px 0;
padding:10px;
}

button{
padding:10px;
width:100%;
background:red;
color:white;
border:none;
}

.movies{
padding:20px;
}

.movie-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:#222;
padding:10px;
text-align:center;
}